.carousel-inner {
    width: 1000px;
    height: 500px;

}
header{
    background-color: cadetblue;
}
.cards{
    display: flex;
}
.carousel-control-prev{
    border-radius: 40px;
}
body{
    background-color: rgba(5, 71, 109, 0.308);
}
.bg a{
    background-color: rgb(241, 241, 178);
}
.navbar{
    border-radius: 30px;
    background-color: rgb(11, 204, 211) ;
}
.a-color{
    
}